[mysqld]
server-id=2
# Apply ONLY appdb changes on replica (prevents RDS heartbeat/system tables from breaking replication)
replicate-wild-do-table=appdb.%
replicate-wild-ignore-table=mysql.%
relay_log=relay-bin
skip_name_resolve=ON

# GTID recommended
gtid_mode=OFF
enforce_gtid_consistency=OFF
